<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('navbar') %>
    <h1>404</h1>
    <p>dont know how you did that but try not to do it again</p>
</body>
</html>