<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <%- include ('navbar') %>
    <h1>Home</h1>
    <% if (locals.user) {%>
        <h1> Hello <%= locals.user.username %></h1>
        <a href="/logout"><button>log out</button></a>
        <a href="/upload"><button>Upload File</button></a>
        <a href="/profile"><button><%- locals.user.username %> profile</button></a>
        <% } else { %>
            <h1>not logged in</h1>
    <% } %>
</body>
</html>