<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <%- include ('navbar') %>
    <h1>log in</h1>
    <form method="post" action="login">
        <label for="userNameLogin">user name</label>
        <input value="testuser" name="userNameLogin" type="text">
        <label for="passwordLogin">password</label>
        <input value="testpassword" name="passwordLogin" type="text">
        <button type="submit">Submit</button>
    </form>
</body>
</html>